QMainWindow {
    background-color: #2d2d30; /* Couleur sombre inspirée de Dofus */
    color: #f0e68c; /* Texte couleur dorée */
}

QPushButton {
    background-color: #444444;
    border: 1px solid #888888;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

QPushButton:hover {
    background-color: #555555;
    border-color: #bbbbbb;
}

QComboBox {
    background-color: #444444;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

QListWidget {
    background-color: #333333;
    color: white;
    border: 1px solid #666666;
}

QLineEdit {
    background-color: #444444;
    border: 1px solid #666666;
    color: white;
    padding: 3px;
}

QLineEdit:focus {
    border-color: #f0e68c; /* Jaune doré lors du focus */
}

QWidget[dragging="true"] {
    border: 2px dashed #f0e68c; /* Bordure jaune dorée pendant le drag-and-drop */
    box-shadow: 0px 4px 15px rgba(255, 215, 0, 0.7); /* Ombre dorée */
    transform: scale(1.02); /* Élévation légère */
}
